<div class="navbar-fixed">
	<nav>
		<div class="nav-wrapper">
			<a href="#" class="brand-logo">
				<img src="/assets/img/oficina_white_yellow_small.png" alt="Oficina Da Capoeira Logo" />
			</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="#">Home</a></li>
				<li><a href="#">History</a></li>
				<li><a href="#">School</a></li>
				<li><a href="#">Videos</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="#">Prices</a></li>
			</ul>
		</div>
	</nav>
</div>