<main class="home fade-in-slow">
<!-- 	<div class="carousel --bg {{#if !app.typing_hero}}slide-up{{/if}}"></div>
	<div class="carousel --content {{#if !app.typing_hero}}slide-up{{/if}}">
		<h1 class="border-thick padding"><span class="typed-input"></span></h1>
	</div> -->
	<section id="home" class="{{#if !app.typing_hero}}{{/if}} padding">
		<div class="container">
			<div class="row green z-depth-5 padding-big">
				<div class="col l6 m12 s12">
					<div class="card green-darker padding">
						<div class="card-title margin-bottom">
							<h5>Oficina Da Capoeira - Bristol</h5>
						</div>
						<div class="col s12 info-background margin-bottom"></div>
						<div class="card-content">
							<p>Our group aim at teaching the essence & art of Capoeira, its philosophy and respect. It is an enriching mix of music, dance, martial arts and Afro-Brazilian culture. Some people say Capoeira is a dance with an element of fight, some say that it is a fight with an element of dance.
							<span class="block margin-top text-align-right"><i>”Capoeira  e tudo o que a boca come!” – Mestre Pastinha</i></span>
							</p>
						</div>
					</div>
				</div>
				<news/>
			</div>
		</div>
	</section>
</main>