<main class="home fade-in-fast">
	<div class="carousel --bg"></div>
	<div class="carousel --content">
		<h1 class="border-thick padding"><span class="typed-input"></span></h1>
	</div>
	<section id="home">
		<div class="container padding">
			<div class="row green z-depth-5">
				<div class="col s12 padding">
					<div class="card green-darker padding">
						<div class="card-title">
							<h4>Oficina Da Capoeira - Bristol</h4>
						</div>
						<div class="card-content">
							<h5>Working with Graccie Barra hell yeah!</h5>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>