<div class="home row no-margin-bottom">
    <div class="col s8 offset-s2 margin-top-double">
        <div class="row logo">
            <img src="/assets/img/logo_small.png"/>
            <div>
                <span>School of</span>
                <p>apoeria</p>
            </div>
        </div>
    </div>
</div>
<div class="nav-wrapper-custom">
    <ul id="nav-mobile" class="no-margin">
        <li><a href="#">Home</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Our Gallery</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
</div>
