<div class="col l6 m12 s12">
    <div class="card green-darker padding">
        <div class="card-title">
            <h5>What's going on</h5>
        </div>
        <div class="card-content secondary">
            <ul class="collection">
              {{#if app.news_feed}}
                {{#each app.news_feed}}
                    {{>news_item}}
                {{/each}}
              {{/if}}
            </ul>
        </div>
    </div>
</div>

{{#partial news_item}}
<li class="collection-item avatar">
    <img src="images/yuna.jpg" alt="" class="circle">
    <span class="title">{{.story}}</span>
    <p>{{.message}}
    </p>
</li>
{{/partial}}